@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local("Source Sans Pro Light Italic"), local("SourceSansPro-LightIt"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6MAjkyiewWYrWZc50I8hK7I.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMxgy2Fsj5sj3EzlXpqVXRKo.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local("Source Sans Pro Semibold Italic"), local("SourceSansPro-SemiboldIt"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6GQKuzMuncr0JB710wa2dPI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: local("Source Sans Pro Bold Italic"), local("SourceSansPro-BoldIt"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6Nnl6YROR5rHLkdLoHwoOWA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Helvetica", Arial, sans-serif; }

.cntr {
  display: flex;
  justify-content: center;
  width: 100vw; }
  .cntr * {
    display: block; }

.wrapper {
  width: 860px;
  max-width: 90%;
  text-align: center; }

body {
  background: url(../img/fhbg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

#featured {
  background: rgba(0, 0, 0, 0.5);
  height: 400px;
  text-align: center; }
  #featured h1 {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    font-size: 3em;
    color: #fff; }
  #featured p {
    width: 300px;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 5em;
    color: #fff; }
  #featured a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    border: 2px solid #fff;
    border-radius: 200px; }
    #featured a:hover {
      background-color: rgba(255, 255, 255, 0.3); }

nav {
  background: #fff; }
  nav:after {
    clear: both; }
  nav h2 {
    margin: 0;
    padding: 10px 25px;
    font-size: 2.5em;
    font-weight: 200;
    display: inline-block; }
  nav ul {
    float: right;
    margin: 1.5em 0; }
    nav ul li {
      display: inline-block;
      list-style: none; }
      nav ul li a {
        color: #444;
        text-decoration: none;
        padding: 20px; }

.articles {
  height: 200vh;
  background-color: #fff;
  clear: both;
  position: relative; }
  .articles .box {
    text-align: center;
    overflow: hidden;
    display: inline-block;
    position: absolute; }
    .articles .box .content {
      transform: translateX(50vw);
      width: 100%;
      height: 100%;
      opacity: 0;
      background: #fff;
      transition: all 500ms cubic-bezier(0.2, 0, 0.6, 1); }
      .articles .box .content h3 {
        font-size: 3em;
        font-weight: 200;
        margin: 0; }
      .articles .box .content p {
        font-size: 1.75em;
        font-weight: 300; }
      .articles .box .content a {
        border: 1px solid black;
        border-radius: 50px;
        padding: 15px 20px;
        color: black;
        text-decoration: none; }
        .articles .box .content a:hover {
          background: rgba(0, 0, 0, 0.05); }
    .articles .box:hover {
      cursor: pointer;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
      z-index: 80; }
      .articles .box:hover .content {
        transform: translateX(0vw);
        opacity: 0.95; }

.big {
  width: 50vw;
  height: 50vw; }
  .big h3 {
    padding: 3.5em 0 0; }
  .big p {
    margin-bottom: 2em; }

.large {
  width: 50vw;
  height: 25vw; }

.small {
  width: 25vw;
  height: 25vw; }
  .small:last-child {
    float: right; }

.sierra {
  background: url(../img/sierra.jpg);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0; }

.ios {
  background: url(../img/ios.jpg);
  background-size: cover;
  background-position: center;
  top: 0;
  right: 0; }

.WWDC {
  background: url(../img/wwdc.jpg);
  background-size: cover;
  background-position: center;
  top: 25vw;
  right: 25vw; }

.Macbook {
  background: url(../img/macbook.jpg);
  background-size: cover;
  background-position: center;
  top: 25vw;
  right: 0; }
